.footer {
  height: 100px;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  color: #c9bb9f;
  padding-top: 0.5rem;
}

.footer div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icon {
  width: 2rem;
  height: 2rem;
}

.footer a {
  color: #c9bb9f;
}

.footer a:hover {
  color: white;
}
