.container {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  width: 90vw;
  justify-content: center;
}

.img,
.imgOdd {
  margin: 0 2rem;
  border: 1px solid black;
}

.text {
  margin: 0 2rem;
}

@media (min-width: 36rem) {
  .container {
    flex-direction: row;
  }

  .title {
    margin-top: 0;
  }

  .imgOdd {
    margin: 0 2rem;
    order: 2;
  }
}
