.title {
  margin: 0.6rem 1.2rem;
}

.activeTitle {
  padding: 0.6rem 1.2rem;
  background-color: #8d7e5f;
  margin-block: 0;
}

.content {
  padding: 0.5rem 4rem;
}

.content {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #00000033;
}

.content:last-child {
  border-bottom: none;
}

.price {
  font-weight: bold;
  align-self: flex-end;
  margin-top: 0;
}

.allerg {
  font-style: italic;
  font-size: 0.6rem;
}
