.logo {
  height: 4rem;
  margin-inline-end: 3rem;
  padding: 0.5rem;
  outline: 1px solid grey;
  border-radius: 5px;
  box-shadow: 2px 3px 3px rgb(73, 73, 73);
}

.logo:hover {
  transform: translate(1px, 1px);
  box-shadow: 0 0 5px 1px #c9bb9f;
}
