.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hor {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 8rem;
}

.container label {
  font-weight: bold;
}

.container input {
  width: 100%;
  margin: 0.8rem 0;
  padding: 0.2rem 0.8rem;
  background-color: #615b4d;
  color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.container input:focus {
  outline: none;
  border: 1px solid #de6523;
}

input[type="checkbox"] {
  filter: hue-rotate(150deg) brightness(1.8);
  width: auto;
}
